@model IEnumerable<e_shop.Models.Product>
@{
    List<Category> categories = (List<Category>)ViewBag.Cats;
    // List<Brand> brands = (List<Brand>)ViewBag.Brands;
}

@{
    Layout = "~/Views/Shared/_Layoutforallpage.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Products</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/Home">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Products</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Shop Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-12">


            <div class="d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100"
                   data-toggle="collapse" href="#navbar-categories"
                   style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0"
                     id="navbar-categories">
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                        <a href="/Home/Products/" class="nav-item nav-link">All Categories</a>
                        @foreach (var item in categories)
                        {
                            <a href="/Home/Products/@item.CategoryId" class="nav-item nav-link">@item.Name</a>
                        }
                    </div>
                </nav>
            </div>



            <hr />


            @* <div class="d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100"
                   data-toggle="collapse" href="#navbar-brands"
                   style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">Brands</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0"
                     id="navbar-brands">
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                        <a href="/Home/Products/" class="nav-item nav-link">All Brands</a>
                        @foreach (var item in brands)
                        {
                            <a href="/Home/Products?brand=@item.BrandId" class="nav-item nav-link">@item.Name</a>
                        }
                    </div>
                </nav>
            </div> *@


         </div>
         <!-- Shop Sidebar End -->
      
        
        
        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-12">
            <div class="row pb-3">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="card h-100 shadow-sm border-0">
                            <div class="card-header bg-white p-0 position-relative overflow-hidden">
                                <img src="/DataFiles/products/@item.Image" class="img-fluid w-100" style="height: 200px; object-fit: cover;" alt="@item.ProductName" />
                            </div>

                            <div class="card-body p-3">
                                <h5 class="text-center text-dark mb-3">@item.ProductName</h5>
                                <table class="table table-sm table-borderless mb-3" style="font-size: 0.9rem;">
                                    <tr>
                                        <th class="text-muted">Category:</th>
                                        <td>@item.CategoryF.Name</td>
                                    </tr>
                                    <tr>
                                        <th class="text-muted">Details:</th>
                                        <td>@item.Details</td>
                                    </tr>
                                    <tr>
                                        <th class="text-muted">Rating:</th>
                                        <td>
                                            <div class="text-warning">
                                                <small class="fas fa-star"></small>
                                                <small class="fas fa-star"></small>
                                                <small class="fas fa-star"></small>
                                                <small class="fas fa-star"></small>
                                                <small class="fas fa-star"></small>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-muted">Status:</th>
                                        <td>
                                            <span class="badge bg-@(item.Status == "Active" ? "success" : "secondary")">@item.Status</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-muted">Price:</th>
                                        <td><strong>@item.Srice</strong> $</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="card-footer bg-light d-flex justify-content-between">
                                <a href="/Home/Details/@item.ProductId" class="btn btn-outline-primary btn-sm w-50 me-1">
                                    <i class="fas fa-eye me-1"></i> Detail
                                </a>
                                <a href="/Home/AddTocart/@item.ProductId" class="btn btn-outline-success btn-sm w-50 ms-1">
                                    <i class="fas fa-shopping-cart me-1"></i> Cart
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->
